<!DOCTYPE html>
<html lang="en">


<%- include('../../views/templates/head')-%>

    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('../../views/templates/user/nav_log')-%>
                        <div class="">
                        <div class="container-xl px-4 mt-4 ">
                            <%- include('../../views/templates/elements/nav_user')-%>
                            <hr class="mt-0 mb-4">
                            <div class="d-flex justify-content-between mb-3">
                                <p>.</p>
                                <a class="btn btn-primary" href="/post"
                                    type="button">Subir noticia</a>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">Historial de Articulos</div>
                               
                                <div class="card-body p-0">
                                   
                                    <div class="table-responsive table-billing-history">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="border-gray-200" scope="col">Articulo ID</th>
                                                    <th class="border-gray-200" scope="col">Fecha de creación</th>
                                                    <th class="border-gray-200" scope="col">Titulo</th>
                                                    <th class="border-gray-200" scope="col">Estado</th>
                                                    <th class="border-gray-200" scope="col">
                                                        
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%for( var i=0; i<news.length; i++) {%>
                                                <tr>
                                                    <td><%=news[i]._id %></td>
                                                    <td><%=news[i].date %></td>
                                                    <td><%=news[i].title %></td>
                                                    <td><span  class="badge bg-success" > <%=news[i].status %></span></td>
                                                    <td> <a class="btn btn-warning"  href="/post/delete/<%=news[i]._id %>" type="button">Eliminar</a></td>
                                                </tr>
                                                <%}%>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('../../views/templates/footer')-%>
    </body>

</html>