<!DOCTYPE html>
<html lang="en">

<%- include('../../views/templates/head')-%>

    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('../../views/templates/nav')-%>

                        <div class="container px-10 py-10 ">
                            <label>Inicio><%=post.type%>><%=post.title %></label>
                        </div>
                        <section class="bg-light ">

                            <div class="container px-5">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-10 col-xl-8">
                                        <div class="single-post">
                                            <!-- Intro -->
                                            <h1>
                                                <%=post.title %>
                                            </h1>
                                            <!-- Meta details -->
                                            <div class="d-flex align-items-center justify-content-between mb-auto">
                                                <a   href="/detail/<%=post.user._id %>">
                                                <div class="single-post-meta me-4">
                                                    <img class="post-preview-meta-img"
                                                        src="../assets/image/user-men.svg">

                                                    <div class="single-post-meta-details">
                                                        <div class="single-post-meta-details-name">
                                                            <%=post.user.fullName %>
                                                        </div>
                                                        <div class="single-post-meta-details-date">
                                                            <%=post.formatDate('date') %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                                <div class="single-post-meta-links">
                                                    <a href="#!"><svg width="28" height="28" viewBox="0 0 48 48"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 35.9789 8.77641 45.908 20.25 47.7084V30.9375H14.1562V24H20.25V18.7125C20.25 12.6975 23.8331 9.375 29.3152 9.375C31.9402 9.375 34.6875 9.84375 34.6875 9.84375V15.75H31.6613C28.68 15.75 27.75 17.6002 27.75 19.5V24H34.4062L33.3422 30.9375H27.75V47.7084C39.2236 45.908 48 35.9789 48 24Z"
                                                                fill="#D93232" />
                                                        </svg></a>
                                                    <a href="#!"><svg width="28" height="28" viewBox="0 0 48 48"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <g clip-path="url(#clip0_134_2472)">
                                                                <path
                                                                    d="M15.1003 43.5C33.2091 43.5 43.1166 28.4935 43.1166 15.4838C43.1166 15.0619 43.1072 14.6307 43.0884 14.2088C45.0157 12.815 46.679 11.0886 48 9.11066C46.205 9.90926 44.2993 10.4308 42.3478 10.6575C44.4026 9.42588 45.9411 7.49101 46.6781 5.21159C44.7451 6.35718 42.6312 7.16528 40.4269 7.60128C38.9417 6.02318 36.978 4.97829 34.8394 4.62816C32.7008 4.27803 30.5064 4.64216 28.5955 5.66425C26.6846 6.68635 25.1636 8.30947 24.2677 10.2827C23.3718 12.2559 23.1509 14.4693 23.6391 16.5807C19.725 16.3842 15.8959 15.3675 12.4 13.5963C8.90405 11.825 5.81939 9.33893 3.34594 6.29909C2.0888 8.46655 1.70411 11.0314 2.27006 13.4722C2.83601 15.9131 4.31013 18.047 6.39281 19.44C4.82926 19.3904 3.29995 18.9694 1.93125 18.2119V18.3338C1.92985 20.6084 2.7162 22.8132 4.15662 24.5736C5.59704 26.334 7.60265 27.5412 9.8325 27.99C8.38411 28.3863 6.86396 28.4441 5.38969 28.1588C6.01891 30.1149 7.24315 31.8258 8.89154 33.0527C10.5399 34.2796 12.5302 34.9613 14.5847 35.0025C11.0968 37.7423 6.78835 39.2283 2.35313 39.2213C1.56657 39.2201 0.780798 39.1719 0 39.0769C4.50571 41.9676 9.74706 43.5028 15.1003 43.5Z"
                                                                    fill="#D93232" />
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_134_2472">
                                                                    <rect width="48" height="48" fill="white" />
                                                                </clipPath>
                                                            </defs>
                                                        </svg> </a>
                                                    <a href="#!"><svg width="28" height="28" viewBox="0 0 48 48"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M24 4.32187C30.4125 4.32187 31.1719 4.35 33.6938 4.4625C36.0375 4.56562 37.3031 4.95938 38.1469 5.2875C39.2625 5.71875 40.0688 6.24375 40.9031 7.07812C41.7469 7.92188 42.2625 8.71875 42.6938 9.83438C43.0219 10.6781 43.4156 11.9531 43.5188 14.2875C43.6313 16.8187 43.6594 17.5781 43.6594 23.9813C43.6594 30.3938 43.6313 31.1531 43.5188 33.675C43.4156 36.0188 43.0219 37.2844 42.6938 38.1281C42.2625 39.2438 41.7375 40.05 40.9031 40.8844C40.0594 41.7281 39.2625 42.2438 38.1469 42.675C37.3031 43.0031 36.0281 43.3969 33.6938 43.5C31.1625 43.6125 30.4031 43.6406 24 43.6406C17.5875 43.6406 16.8281 43.6125 14.3063 43.5C11.9625 43.3969 10.6969 43.0031 9.85313 42.675C8.7375 42.2438 7.93125 41.7188 7.09688 40.8844C6.25313 40.0406 5.7375 39.2438 5.30625 38.1281C4.97813 37.2844 4.58438 36.0094 4.48125 33.675C4.36875 31.1438 4.34063 30.3844 4.34063 23.9813C4.34063 17.5688 4.36875 16.8094 4.48125 14.2875C4.58438 11.9437 4.97813 10.6781 5.30625 9.83438C5.7375 8.71875 6.2625 7.9125 7.09688 7.07812C7.94063 6.23438 8.7375 5.71875 9.85313 5.2875C10.6969 4.95938 11.9719 4.56562 14.3063 4.4625C16.8281 4.35 17.5875 4.32187 24 4.32187ZM24 0C17.4844 0 16.6688 0.028125 14.1094 0.140625C11.5594 0.253125 9.80625 0.665625 8.2875 1.25625C6.70313 1.875 5.3625 2.69062 4.03125 4.03125C2.69063 5.3625 1.875 6.70313 1.25625 8.27813C0.665625 9.80625 0.253125 11.55 0.140625 14.1C0.028125 16.6687 0 17.4844 0 24C0 30.5156 0.028125 31.3313 0.140625 33.8906C0.253125 36.4406 0.665625 38.1938 1.25625 39.7125C1.875 41.2969 2.69063 42.6375 4.03125 43.9688C5.3625 45.3 6.70313 46.125 8.27813 46.7344C9.80625 47.325 11.55 47.7375 14.1 47.85C16.6594 47.9625 17.475 47.9906 23.9906 47.9906C30.5063 47.9906 31.3219 47.9625 33.8813 47.85C36.4313 47.7375 38.1844 47.325 39.7031 46.7344C41.2781 46.125 42.6188 45.3 43.95 43.9688C45.2813 42.6375 46.1063 41.2969 46.7156 39.7219C47.3063 38.1938 47.7188 36.45 47.8313 33.9C47.9438 31.3406 47.9719 30.525 47.9719 24.0094C47.9719 17.4938 47.9438 16.6781 47.8313 14.1188C47.7188 11.5688 47.3063 9.81563 46.7156 8.29688C46.125 6.70312 45.3094 5.3625 43.9688 4.03125C42.6375 2.7 41.2969 1.875 39.7219 1.26562C38.1938 0.675 36.45 0.2625 33.9 0.15C31.3313 0.028125 30.5156 0 24 0Z"
                                                                fill="#D93232" />
                                                            <path
                                                                d="M24 11.6719C17.1938 11.6719 11.6719 17.1938 11.6719 24C11.6719 30.8062 17.1938 36.3281 24 36.3281C30.8062 36.3281 36.3281 30.8062 36.3281 24C36.3281 17.1938 30.8062 11.6719 24 11.6719ZM24 31.9969C19.5844 31.9969 16.0031 28.4156 16.0031 24C16.0031 19.5844 19.5844 16.0031 24 16.0031C28.4156 16.0031 31.9969 19.5844 31.9969 24C31.9969 28.4156 28.4156 31.9969 24 31.9969Z"
                                                                fill="#D93232" />
                                                            <path
                                                                d="M39.6937 11.1843C39.6937 12.778 38.4 14.0624 36.8156 14.0624C35.2219 14.0624 33.9375 12.7687 33.9375 11.1843C33.9375 9.59053 35.2313 8.30615 36.8156 8.30615C38.4 8.30615 39.6937 9.5999 39.6937 11.1843Z"
                                                                fill="#D93232" />
                                                        </svg></a>
                                                    <a href="#!"><svg width="87" height="20" viewBox="0 0 137 20"
                                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M15.096 7.96L14.184 12.28H17.496V14.2H13.776L12.744 19H10.656L11.688 14.2H6.648L5.616 19H3.528L4.56 14.2H0.792V12.28H4.968L5.88 7.96H2.16V6.04H6.288L7.32 1.24H9.408L8.376 6.04H13.416L14.448 1.24H16.536L15.504 6.04H18.84V7.96H15.096ZM13.008 7.96H7.968L7.056 12.28H12.096L13.008 7.96ZM27.3083 19.168C26.2043 19.168 25.2123 18.976 24.3323 18.592C23.4683 18.192 22.7883 17.648 22.2923 16.96C21.7963 16.256 21.5403 15.448 21.5243 14.536H23.8523C23.9323 15.32 24.2523 15.984 24.8123 16.528C25.3883 17.056 26.2203 17.32 27.3083 17.32C28.3483 17.32 29.1643 17.064 29.7563 16.552C30.3643 16.024 30.6683 15.352 30.6683 14.536C30.6683 13.896 30.4923 13.376 30.1403 12.976C29.7883 12.576 29.3483 12.272 28.8203 12.064C28.2923 11.856 27.5803 11.632 26.6843 11.392C25.5803 11.104 24.6923 10.816 24.0203 10.528C23.3643 10.24 22.7963 9.792 22.3163 9.184C21.8523 8.56 21.6203 7.728 21.6203 6.688C21.6203 5.776 21.8523 4.968 22.3163 4.264C22.7803 3.56 23.4283 3.016 24.2603 2.632C25.1083 2.248 26.0763 2.056 27.1643 2.056C28.7323 2.056 30.0123 2.448 31.0043 3.232C32.0123 4.016 32.5803 5.056 32.7083 6.352H30.3083C30.2283 5.712 29.8923 5.152 29.3003 4.672C28.7083 4.176 27.9243 3.928 26.9483 3.928C26.0363 3.928 25.2923 4.168 24.7163 4.648C24.1403 5.112 23.8523 5.768 23.8523 6.616C23.8523 7.224 24.0203 7.72 24.3563 8.104C24.7083 8.488 25.1323 8.784 25.6283 8.992C26.1403 9.184 26.8523 9.408 27.7643 9.664C28.8683 9.968 29.7563 10.272 30.4283 10.576C31.1003 10.864 31.6763 11.32 32.1562 11.944C32.6363 12.552 32.8763 13.384 32.8763 14.44C32.8763 15.256 32.6603 16.024 32.2283 16.744C31.7963 17.464 31.1563 18.048 30.3083 18.496C29.4603 18.944 28.4603 19.168 27.3083 19.168ZM35.2742 12.376C35.2742 11.032 35.5462 9.856 36.0902 8.848C36.6342 7.824 37.3782 7.032 38.3222 6.472C39.2822 5.912 40.3462 5.632 41.5142 5.632C42.6662 5.632 43.6662 5.88 44.5142 6.376C45.3622 6.872 45.9942 7.496 46.4102 8.248V5.848H48.6182V19H46.4102V16.552C45.9782 17.32 45.3302 17.96 44.4662 18.472C43.6182 18.968 42.6262 19.216 41.4902 19.216C40.3222 19.216 39.2662 18.928 38.3222 18.352C37.3782 17.776 36.6342 16.968 36.0902 15.928C35.5462 14.888 35.2742 13.704 35.2742 12.376ZM46.4102 12.4C46.4102 11.408 46.2102 10.544 45.8102 9.808C45.4102 9.072 44.8662 8.512 44.1782 8.128C43.5062 7.728 42.7622 7.528 41.9462 7.528C41.1302 7.528 40.3862 7.72 39.7142 8.104C39.0422 8.488 38.5062 9.048 38.1062 9.784C37.7062 10.52 37.5062 11.384 37.5062 12.376C37.5062 13.384 37.7062 14.264 38.1062 15.016C38.5062 15.752 39.0422 16.32 39.7142 16.72C40.3862 17.104 41.1302 17.296 41.9462 17.296C42.7622 17.296 43.5062 17.104 44.1782 16.72C44.8662 16.32 45.4102 15.752 45.8102 15.016C46.2102 14.264 46.4102 13.392 46.4102 12.4ZM57.6609 7.648H54.9009V19H52.7169V7.648H51.0129V5.848H52.7169V4.912C52.7169 3.44 53.0929 2.368 53.8449 1.696C54.6129 1.008 55.8369 0.663999 57.5169 0.663999V2.488C56.5569 2.488 55.8769 2.68 55.4769 3.064C55.0929 3.432 54.9009 4.048 54.9009 4.912V5.848H57.6609V7.648ZM65.9434 19.216C64.7114 19.216 63.5914 18.936 62.5834 18.376C61.5914 17.816 60.8074 17.024 60.2314 16C59.6714 14.96 59.3914 13.76 59.3914 12.4C59.3914 11.056 59.6794 9.872 60.2554 8.848C60.8474 7.808 61.6474 7.016 62.6554 6.472C63.6634 5.912 64.7914 5.632 66.0394 5.632C67.2874 5.632 68.4154 5.912 69.4234 6.472C70.4314 7.016 71.2234 7.8 71.7994 8.824C72.3914 9.848 72.6874 11.04 72.6874 12.4C72.6874 13.76 72.3834 14.96 71.7754 16C71.1834 17.024 70.3754 17.816 69.3514 18.376C68.3274 18.936 67.1914 19.216 65.9434 19.216ZM65.9434 17.296C66.7274 17.296 67.4634 17.112 68.1514 16.744C68.8394 16.376 69.3914 15.824 69.8074 15.088C70.2394 14.352 70.4554 13.456 70.4554 12.4C70.4554 11.344 70.2474 10.448 69.8314 9.712C69.4154 8.976 68.8714 8.432 68.1994 8.08C67.5274 7.712 66.7994 7.528 66.0154 7.528C65.2154 7.528 64.4794 7.712 63.8074 8.08C63.1514 8.432 62.6234 8.976 62.2234 9.712C61.8234 10.448 61.6234 11.344 61.6234 12.4C61.6234 13.472 61.8154 14.376 62.1994 15.112C62.5994 15.848 63.1274 16.4 63.7834 16.768C64.4394 17.12 65.1594 17.296 65.9434 17.296ZM88.7109 19H86.5269L77.7429 5.68V19H75.5589V2.248H77.7429L86.5269 15.544V2.248H88.7109V19ZM104.434 11.92C104.434 12.336 104.41 12.776 104.362 13.24H93.8499C93.9299 14.536 94.3699 15.552 95.1699 16.288C95.9859 17.008 96.9699 17.368 98.1219 17.368C99.0659 17.368 99.8499 17.152 100.474 16.72C101.114 16.272 101.562 15.68 101.818 14.944H104.17C103.818 16.208 103.114 17.24 102.058 18.04C101.002 18.824 99.6899 19.216 98.1219 19.216C96.8739 19.216 95.7539 18.936 94.7619 18.376C93.7859 17.816 93.0179 17.024 92.4579 16C91.8979 14.96 91.6179 13.76 91.6179 12.4C91.6179 11.04 91.8899 9.848 92.4339 8.824C92.9779 7.8 93.7379 7.016 94.7139 6.472C95.7059 5.912 96.8419 5.632 98.1219 5.632C99.3699 5.632 100.474 5.904 101.434 6.448C102.394 6.992 103.13 7.744 103.642 8.704C104.17 9.648 104.434 10.72 104.434 11.92ZM102.178 11.464C102.178 10.632 101.994 9.92 101.626 9.328C101.258 8.72 100.754 8.264 100.114 7.96C99.4899 7.64 98.7939 7.48 98.0259 7.48C96.9219 7.48 95.9779 7.832 95.1939 8.536C94.4259 9.24 93.9859 10.216 93.8739 11.464H102.178ZM124.837 5.848L120.733 19H118.477L115.309 8.56L112.141 19H109.885L105.757 5.848H107.989L111.013 16.888L114.277 5.848H116.509L119.701 16.912L122.677 5.848H124.837ZM131.66 19.216C130.652 19.216 129.748 19.048 128.948 18.712C128.148 18.36 127.516 17.88 127.052 17.272C126.588 16.648 126.332 15.936 126.284 15.136H128.54C128.604 15.792 128.908 16.328 129.452 16.744C130.012 17.16 130.74 17.368 131.636 17.368C132.468 17.368 133.124 17.184 133.604 16.816C134.084 16.448 134.324 15.984 134.324 15.424C134.324 14.848 134.068 14.424 133.556 14.152C133.044 13.864 132.252 13.584 131.18 13.312C130.204 13.056 129.404 12.8 128.78 12.544C128.172 12.272 127.644 11.88 127.196 11.368C126.764 10.84 126.548 10.152 126.548 9.304C126.548 8.632 126.748 8.016 127.148 7.456C127.548 6.896 128.116 6.456 128.852 6.136C129.588 5.8 130.428 5.632 131.372 5.632C132.828 5.632 134.004 6 134.9 6.736C135.796 7.472 136.276 8.48 136.34 9.76H134.156C134.108 9.072 133.828 8.52 133.316 8.104C132.82 7.688 132.148 7.48 131.3 7.48C130.516 7.48 129.892 7.648 129.428 7.984C128.964 8.32 128.732 8.76 128.732 9.304C128.732 9.736 128.868 10.096 129.14 10.384C129.428 10.656 129.78 10.88 130.196 11.056C130.628 11.216 131.22 11.4 131.972 11.608C132.916 11.864 133.684 12.12 134.276 12.376C134.868 12.616 135.372 12.984 135.788 13.48C136.22 13.976 136.444 14.624 136.46 15.424C136.46 16.144 136.26 16.792 135.86 17.368C135.46 17.944 134.892 18.4 134.156 18.736C133.436 19.056 132.604 19.216 131.66 19.216Z"
                                                                fill="#D93232" fill-opacity="0.84" />
                                                        </svg></a>
                                                </div>
                                            </div>
                                            <!-- Image -->
                                            <img class="img-fluid mb-2 rounded" src="<%=post.img %>">
                                            <!-- Content Text-->
                                            <div class="small text-gray-500 text-center">Photo Credit: Unsplash</div>
                                            <div class="single-post-text my-5">
                                                <p>
                                                    <%=post.body %>
                                                </p>
                                                <hr class="my-5">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="svg-border-rounded text-dark">
                                <!-- Rounded SVG Border-->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34"
                                    preserveAspectRatio="none" fill="#e81500">
                                    <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0">
                                    </path>
                                </svg>
                            </div>
                        </section>

                </main>
            </div>

            <%- include('../../views/templates/footer')-%>
        </div>
    </body>

</html>